<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listado de Películas</title>
</head>
<body>
<h1>Listado de Películas</h1>
<table>
    <tr>
        <th>Título</th>
        <th>Año de Lanzamiento</th>
        <!-- Agrega más encabezados de columna si es necesario -->
    </tr>
    <tr th:each="pelicula : ${peliculas}">
        <td th:text="${pelicula.titulo}"></td>
        <td th:text="${pelicula.anioLanzamiento}"></td>
        <!-- Agrega más celdas de datos si es necesario -->
    </tr>
</table>
</body>
</html>
